* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background: #070809;
    background: rgb(25, 27, 28);
    background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
    height: 810px;
}

/* Menu INDEX*/
main{
    overflow: hidden;
}
.gridContainer {
    padding: 4px;
    height: 80px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 4rem;
    align-items: center;
    background-color: #183247;
}

.menu ul {
    list-style: none;
}

.menu li {
    display: inline-block;
    padding: 0 1rem;
    position: relative;
    top: 20px;
}

.menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.857);
    font-size: 1.5rem;
    font-weight: 600;
}

.logo img {
    width: 250px;
    height: 74px;
    position: relative;
    top: 14.7px;
}

/*SECTION 1 inicio*/

.carousel-item {
    position: relative;
}

.carousel-item p {
    font-style: italic;
    font-size: 3rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.919);
    background-color: rgba(26, 26, 26, 0.583);
    position: absolute;
    text-align: center;
    left: 40%;
    padding: 2rem;
    bottom: 22rem;
    border-radius: 5%;
}



.cartas {
    background: #070809;
    background: rgb(25, 27, 28);
    background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
    height: 700px;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "slider contenedor1 contenedor2"
        "slider contenedor3 contenedor4"

}

.slider {
    grid-area: slider;
    width: 500px;
    height: 140px;
    position: relative;
    left: 80px;
    top: 60px;
}

.slider img {
    width: 500px;
    height: 600px;
    border-radius: 4px;
}
.sobreTexto1{
    color: rgba(255, 255, 255, 0.912);
    position: relative;
    left: 604px;
    bottom: 400px;
    font-size: 2.3rem;
    width: 310px;
    
}
.sobreTexto1 p{
    background-color: rgba(26, 26, 26, 0.583);
    border-radius: 6px;
}
.sobreTexto2{
    color: white;
    position: relative;
    bottom: 97px;
    right: 15px;
    font-size: 2.3rem;
    width: 180px;
}
.sobreTexto2 p{
    background-color: rgba(26, 26, 26, 0.583);
    border-radius: 6px;
}
.sobreTexto3{
    color: white;
    position: relative;
    bottom: 100px;
    left: 40px;
    font-size: 2.3rem;
    width: 130px;
}
.sobreTexto3 p{
    background-color: rgba(26, 26, 26, 0.583);
    border-radius: 6px;
}

.sobreTexto4{
    color:white;
    position: relative;
    left: 1000px;
    bottom: 490px;
    font-size: 2.3rem;
    width: 240px;
}
.sobreTexto4 p{
    background-color: rgba(26, 26, 26, 0.583);
    border-radius: 6px;
}



.imagenn1 img {
    width: 330px;
    height: 280px;
    position: relative;
    right: 95px;
    top: 65px;
    border-radius: 7px;
}
.contenedor1:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
.imagenn2:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
.imagenn3:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
.imagenn4:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

.imagenn2 img{
    width: 330px;
    height: 280px;
    position: relative;
    right: 65px;
    top: 65px;
    border-radius: 7px;
}

.imagenn3 img {
    width: 330px;
    height: 280px;
    position: relative;
    right: 95px;
    top: 80px;
    border-radius: 7px;
}

.imagenn4 img {
    width: 330px;
    height: 280px;
    position: relative;
    right: 65px;
    top: 80px;
    border-radius: 7px;

}





.viajeSeguro {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 10rem 10rem auto auto auto;
    grid-template-areas:
        "travel travel"
        "p p"
        "personabarbijo  p1"
        "limpiandoavion  p2"
        "azafatas  p3"
    ;
    padding: 1rem 2rem;
    justify-items: center;
    align-items: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.892);
}

.viajeSeguro p {
    color: white;
}

.safe {
    font-size: 4rem;
    /* border: solid 1px red; */
    grid-area: travel;
    color: white;

}
.safe h2{
    font-size: 2.4rem;
}

.safe p {
    border: solid 1px red;
    position: relative;
    bottom: 2rem;
    font-size: 2rem;
    grid-area: p;
}

.imagen1 img {
    width: 100%;
    height: 100%;
    /* border: solid 1px red; */
    grid-area: personabarbijo;
    border-radius: 10px;
}

/* .imagen1:hover{
    padding: 20px;
    transform: scale(2,);

} */
.p1 {
    font-size: 2rem;
    grid-area: p1;
    text-align: center;
}

.p {
    font-size: 2rem;
    grid-area: p;
    text-align: center;
}

.imagen2 img {
    width: 100%;
    height: 190%;
    /* border: solid 1px red; */
    grid-area: limpiandoavion;
    border-radius: 10px;
}

/* .imagen2:hover{
    padding: 20px;
    transform: scale(2,);
} */

.pe2 {
    font-size: 2rem;
    grid-area: p2;
    text-align: center;
}

.imagen3 img {
    width: 100%;
    height: 100%;
    /*  border: solid 1px red; */
    grid-area: azafatas;
    border-radius: 10px;
}

/* .imagen3:hover{
    padding: 20px;
    transform: scale(2,);

} */
.p3 {
    font-size: 2rem;
    text-align: center;
    grid-area: p3;

}

/*DESCUENTOSSS*/
.descuentos {
    background: rgb(44, 8, 61);
    background: radial-gradient(circle, rgba(44, 8, 61, 1) 0%, rgba(36, 11, 110, 1) 49%, rgba(44, 8, 61, 1) 100%);
    padding: 3.5rem;
}

.misDescuentos {
    color: white;
    font-size: 1.4rem;
    text-align: center;
}

/*VENDER VIAJES*/

.contenidoPromociones {
    /* background-image: url("./imagenes/inviernoashe.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    padding: 5rem;
    height: 600px;

}

.titlePromocion {
    /* grid-column: 1/6; */
    color: rgb(255, 255, 255);
    margin: 2rem;
}

.titlePromocion h3 {
    font-size: 3.3rem;
    padding: 0 2rem;
    padding-top: 2rem;

}

.promocion {
    color: rgb(253, 253, 253);
    padding: 0 4rem;
    font-size: 2rem;
    line-height: 1.5;


}

.imagenPromocion img {
    width: 520px;
    height: 260px;
    opacity: 0.4;
    margin-left: 40rem;
    border-radius: 2%;
    position: relative;
    right: 5rem;
    top: 2rem;
    /* border: solid 6px black; */
}

.imagenPromocion:hover {
    transform: scale(1.04);
    transition: all 0.5s ease-in-out;
}

/* .botonn{
    position: relative;
    left: 49%;
    bottom: 10px;

}
.botonn button{
    width: 100;
    height: 200%;
}  */
/* FOOTER*/

/* .footer{
    background-color: rgb(0, 0, 0);
    display: grid;
    font-size: 1.4rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto auto auto;
    grid-template-areas: 
        "home . ."
        "travel . ."
        "about . ."
        "contact . ."
        "helpp  parrafo ."
    ;
    
}
.pf{
    grid-area: parrafo;
}
.pf p{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.3rem;
}
.pHome{
    grid-area: home;
    color: rgb(255, 255, 255);
}
.pTravel{
    grid-area: travel;
    color: rgb(255, 255, 255);
}
.pAbout{
    grid-area: about;
    color: rgb(255, 255, 255);
}
.pContact{
    grid-area: contact;
    color: rgb(255, 255, 255);
}
.pHelp{
    grid-area: helpp;
    color: rgb(255, 255, 255);
} */
/*ABOUT US */
.aboutUsT{
    background: #070809;
    background: rgb(25, 27, 28);
    background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
    height: 720px;
}
.aboutUsTravel{
    margin: 2rem;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
        "h2 h2"
        "p p"
        "image p2"
    ;

}
.aboutUsTravel h2{
    padding: 2rem;
    font-size: 3.4rem;
    color: white;
    grid-area: h2;
}
.aboutUsTravel p{
    font-size: 20px;
    grid-area: p;
    color: white;
    line-height: 1.7;
}
.aboutUsTravel img:hover{
    grid-area: image;
    padding-top: 1.2rem;
    transform: scale(1.1);
}
.aboutUsTravel img{
    position: relative;
    left: 4rem;
    top: 2rem;
}

.p2{
    grid-area: p2;
    padding: 12.4rem 4rem;

}
.hr1 {
    color: black;
    border: solid 1px black;
}


/* MEDIA QUIRES INDEX*/

@media(max-width: 320px) {
    
    body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        background: #070809;
        background: rgb(25, 27, 28);
        background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
        height: 810px;
        
    }
    
    /* Menu INDEX*/
    .gridContainer {
        padding: 4px;
        height: 200px;
        width: 100%;
        background-color: #183247;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: inline-block;
        padding: 0 1rem;
        position: relative;
        top: 150px;
        right: 100px;
        
    }
    
    .menu a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.857);
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .logo img {
        width: 230px;
        height: 74px;
        position: relative;
        top: 16.7px;
        left: 37px;
    }
    
    /*SECTION 1 inicio*/
    
    .carousel-item {

        position: relative;
    }
    
    .carousel-item p {
        font-style: italic;
        font-size: 3rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.919);
        background-color: rgba(26, 26, 26, 0.583);
        position: absolute;
        text-align: center;
        left: 10%;
        padding: 2rem;
        bottom: 22rem;
        border-radius: 5%;
    }
    .carousel-inner{
        width: 303px;
    }
    
    
    
    .cartas {
        background: #070809;
        background: rgb(25, 27, 28);
        background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
        height: 2100px;
        width: 303px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5fr);
        grid-template-areas:
            "slider"
            "contenedor1" 
            "contenedor2"
            "contenedor3" 
            "contenedor4"
    
    }
    
    .slider {
        grid-area: slider;
        width: 250px;
        height: 140px;
        position: relative;
        top: 160px;
    }
    
    .slider img{
        width: 150px;
        height: 100px;
        border-radius: 4px;
    }
    .sobreTexto1{
        color: rgba(255, 255, 255, 0.912);
        position: relative;
        left: 77px;
        bottom: 660px;
        font-size: 2.3rem;
        width: 160px;
        
    }
    .sobreTexto1 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    .sobreTexto2{
        color: white;
        position: relative;
        bottom: 366px;
        left: 75px;
        font-size: 2.3rem;
        width: 180px;
    }
    .sobreTexto2 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    .sobreTexto3{
        color: white;
        position: relative;
        bottom: 100px;
        left: 98px;
        font-size: 2.3rem;
        width: 130px;
    }
    .sobreTexto3 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    
    .sobreTexto4{
        color:white;
        position: relative;
        left: 40px;
        bottom: 1190px;
        font-size: 2.3rem;
        width: 240px;
    }
    .sobreTexto4 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    
    
    
    .imagenn1 img {
        width: 280px;
        height: 280px;
        position: relative;
        left:  20px;
        top: 406px;
        border-radius: 7px;
    }
    
    .imagenn2 img{
        width: 280px;
        height: 280px;
        position: relative;
        left:  20px;
        top: 320px;
        border-radius: 7px;
    }
    
    .imagenn3 img {
        width: 280px;
        height: 280px;
        position: relative;
        left:  20px;
        top: 240px;
        border-radius: 7px;
    }
    
    .imagenn4 img {
        width: 280px;
        height: 280px;
        position: relative;
        left: 19px;
        top: 200px;
        border-radius: 7px;
    
    }
    
    
    
    
    
    .viajeSeguro {
        height: 1540px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8fr);
        grid-template-areas:
            "travel travel"
            "p p"
            "personabarbijo"  
            "p1"
            "limpiandoavion" 
            "pe2"
            "azafatas"
            "p3"
        ;
        padding: 1rem 2rem;
        justify-items: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.892);
    }
    
    .viajeSeguro p {
        color: white;
    }
    
    .safe {
        font-size: 3.4rem;
        /* border: solid 1px red; */
        grid-area: travel;
        color: white;
        position: relative;
        right: 10px;
        top: 20px;
    
    }
    .safe h2{
        font-size: 2.4rem;
    }
    
    .p{
        /* border: solid 1px red; */
        width: 2px;
        position: relative;
        right: 10px;
        width: 300px;
        top: 9rem;
        font-size: 10px;
        grid-area: p;
    }
    
    .imagen1 img {
        width: 300px;
        height: 180px;
        /* border: solid 1px red; */
        grid-area: personabarbijo;
        border-radius: 10px;
        position: relative;
        left: -330px;
        top: 410px;
    }
    .p1 {
        font-size: 2rem;
        grid-area: p1;
        text-align: center;
        position: relative;
        right: 20px;
        top: 300px;
    }
    
    .p {
        font-size: 2rem;
        grid-area: p;
        text-align: center;
    }
    
    .imagen2 img {
        width: 300px;
        height: 180px;
        /* border: solid 1px red; */
        grid-area: limpiandoavion;
        border-radius: 10px;
        position: relative;
        left: -640px;
        top: 830px;
    }
    
    /* .imagen2:hover{
        padding: 20px;
        transform: scale(2,);
    } */
    
    .pe2 {
        font-size: 2rem;
        grid-area: pe2;
        text-align: center;
        position: relative;
        right: 640px;
        bottom: 220px;
        width: 300px;
    }
    
    .imagen3 img {
        width: 300px;
        height: 180px;
        /*  border: solid 1px red; */
        grid-area: azafatas;
        border-radius: 10px;
        position: relative;
        right: 330px;
        top: 1200px;
    }
    
    /* .imagen3:hover{
        padding: 20px;
        transform: scale(2,);
    
    } */
    .p3 {
        font-size: 2rem;
        text-align: center;
        grid-area: p3;
        position: relative;
        top: 60px;
        right: 320px;
        width: 300px;
    
    }
    
    /*DESCUENTOSSS*/
    .descuentos {
        background: rgb(44, 8, 61);
        background: radial-gradient(circle, rgba(44, 8, 61, 1) 0%, rgba(36, 11, 110, 1) 49%, rgba(44, 8, 61, 1) 100%);
        padding: 3.5rem;
    }
    
    .misDescuentos {
        color: white;
        font-size: 1.4rem;
        text-align: center;
    }
    
    /*VENDER VIAJES*/
    
    .contenidoPromociones {
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        padding: 5rem;
        height: 700px;
        width: 303px;
    
    }
    .titlePromocion {
        /* grid-column: 1/6; */
        color: rgb(255, 255, 255);
        margin: 2rem;
    }
    
    .titlePromocion h3 {
        font-size: 2.3rem;
        padding: 0 2rem;
        padding-top: 2rem;
        width: 270px;
        position: relative;
        right: 3.4rem;
        bottom: 4.4rem;
    
    }
    
    .promocion {
        color: rgb(253, 253, 253);
        padding: 0 4rem;
        font-size: 2rem;
        line-height: 1.5;
        display: inline-block;
        width: 349px;
        position: relative;
        right: 5rem;
        bottom: 3.9rem;

    
    
    }
    
    .imagenPromocion img {
        width: 270px;
        height: 240px;
        opacity: 0.5;
        border-radius: 2%;
        position: relative;
        right: 72.3rem;
    }
    
    /* .botonn{
        position: relative;
        left: 49%;
        bottom: 10px;
    
    }
    .botonn button{
        width: 100;
        height: 200%;
    }  */
    /* FOOTER*/
    
    .footer{
        
        background-color: rgb(0, 0, 0);
        display: grid;
        font-size: 1.4rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "home"
            "travel"
            "about"
            "contact"
            "helpp  parrafo"
        ;
        
    }
    .ache6{
        position: relative;
        right: -25px;
        bottom: 30px;
        width: 256px;
    }
    .pf{
        grid-area: parrafo;
    }
    .pf p{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1rem;
        position: relative;
        width: 270px;
        bottom: 4.5rem;
        left: 15px;
    }
    .pHome{
        grid-area: home;
        font-size: 12px;
        color: rgb(255, 255, 255);
    }
    .pTravel{
        grid-area: travel;
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    .pAbout{
        grid-area: about;
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    .pContact{
        grid-area: contact;
        color: rgb(255, 255, 255);
        font-size: 12px;
        position: relative;
        bottom: 2.3rem;
    }
    .pHelp{
        grid-area: helpp;
        color: rgb(255, 255, 255);
        font-size: 12px;
        position: relative;
        bottom: 3rem;
    }
    /*ABOUT US */
    .aboutUsT{
        background: #070809;
        background: rgb(25, 27, 28);
        background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
        height: 1320px;
    }
    .aboutUsTravel{
        margin: 2rem;
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4fr);
        grid-template-areas: 
            "h2"
            "p"
            "image"
            "p2"
        ;
    
    }
    .aboutUsTravel h2{
        font-size: 2.1rem;
        color: white;
        grid-area: h2;
        width: 340px;
        position: relative;
        right: 50px;
    }
    .aboutUsTravel p{
        font-size: 20px;
        grid-area: p;
        color: white;
        line-height: 1.7;
        width: 300px;
        position: relative;
        right: 35px;
    }
    .aboutUsTravel img{
        grid-area: image;
        position: relative;
        right: 1020px;
        top: 2rem;
    }
    .aboutUsTravel img{
        width: 300px;
        height: 300px;
        position: relative;
        left: -4rem;
        top: 2.5rem;
    }
    
    .p2{
        grid-area: p2;
        position: relative;
        right: 50px;
        top: -60px;
    }
}

@media (max-width: 634px){
    body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        background: #070809;
        background: rgb(25, 27, 28);
        background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
        height: 810px;
        
    }
    
    /* Menu INDEX*/
    .gridContainer {
        padding: 4px;
        height: 200px;
        width: 320px;
        background-color: #183247;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: inline-block;
        padding: 0 1rem;
        position: relative;
        top: 150px;
        right: 100px;
        
    }
    
    .menu a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.857);
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .logo img {
        width: 230px;
        height: 74px;
        position: relative;
        top: 16.7px;
        left: 37px;
    }
    
    /*SECTION 1 inicio*/
    
    .carousel-item {

        position: relative;
    }
    
    .carousel-item p {
        font-style: italic;
        font-size: 3rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.919);
        background-color: rgba(26, 26, 26, 0.583);
        position: absolute;
        text-align: center;
        left: 10%;
        padding: 2rem;
        bottom: 22rem;
        border-radius: 5%;
    }
    .carousel-inner{
        width: 503px;
    }
    
    
    
    .cartas {
        background: #070809;
        background: rgb(25, 27, 28);
        background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
        height: 2100px;
        width: 303px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5fr);
        grid-template-areas:
            "slider"
            "contenedor1" 
            "contenedor2"
            "contenedor3" 
            "contenedor4"
    
    }
    
    .slider {
        grid-area: slider;
        width: 500px;
        height: 140px;
        position: relative;
        top: 160px;
    }
    
    .slider img{
        width: 150px;
        height: 200px;
        border-radius: 4px;
    }
    .sobreTexto1{
        color: rgba(255, 255, 255, 0.912);
        position: relative;
        left: 77px;
        bottom: 660px;
        font-size: 2.3rem;
        width: 160px;
        
    }
    .sobreTexto1 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    .sobreTexto2{
        color: white;
        position: relative;
        bottom: 366px;
        left: 75px;
        font-size: 2.3rem;
        width: 180px;
    }
    .sobreTexto2 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    .sobreTexto3{
        color: white;
        position: relative;
        bottom: 100px;
        left: 98px;
        font-size: 2.3rem;
        width: 130px;
    }
    .sobreTexto3 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    
    .sobreTexto4{
        color:white;
        position: relative;
        left: 40px;
        bottom: 1190px;
        font-size: 2.3rem;
        width: 240px;
    }
    .sobreTexto4 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    
    
    
    .imagenn1 img {
        width: 280px;
        height: 280px;
        position: relative;
        left:  20px;
        top: 406px;
        border-radius: 7px;
    }
    
    .imagenn2 img{
        width: 280px;
        height: 280px;
        position: relative;
        left:  20px;
        top: 320px;
        border-radius: 7px;
    }
    
    .imagenn3 img {
        width: 280px;
        height: 280px;
        position: relative;
        left:  20px;
        top: 240px;
        border-radius: 7px;
    }
    
    .imagenn4 img {
        width: 280px;
        height: 280px;
        position: relative;
        left: 19px;
        top: 200px;
        border-radius: 7px;
    
    }
    
    
    
    
    
    .viajeSeguro {
        height: 1540px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8fr);
        grid-template-areas:
            "travel travel"
            "p p"
            "personabarbijo"  
            "p1"
            "limpiandoavion" 
            "pe2"
            "azafatas"
            "p3"
        ;
        padding: 1rem 2rem;
        justify-items: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.892);
    }
    
    .viajeSeguro p {
        color: white;
    }
    
    .safe {
        font-size: 3.4rem;
        /* border: solid 1px red; */
        grid-area: travel;
        color: white;
        position: relative;
        right: 10px;
        top: 20px;
    
    }
    .safe h2{
        font-size: 2.4rem;
    }
    
    .p{
        /* border: solid 1px red; */
        width: 2px;
        position: relative;
        right: 10px;
        width: 300px;
        top: 9rem;
        font-size: 10px;
        grid-area: p;
    }
    
    .imagen1 img {
        width: 300px;
        height: 180px;
        /* border: solid 1px red; */
        grid-area: personabarbijo;
        border-radius: 10px;
        position: relative;
        left: -330px;
        top: 410px;
    }
    .p1 {
        font-size: 2rem;
        grid-area: p1;
        text-align: center;
        position: relative;
        right: 20px;
        top: 300px;
    }
    
    .p {
        font-size: 2rem;
        grid-area: p;
        text-align: center;
    }
    
    .imagen2 img {
        width: 300px;
        height: 180px;
        /* border: solid 1px red; */
        grid-area: limpiandoavion;
        border-radius: 10px;
        position: relative;
        left: -640px;
        top: 830px;
    }
    
    /* .imagen2:hover{
        padding: 20px;
        transform: scale(2,);
    } */
    
    .pe2 {
        font-size: 2rem;
        grid-area: pe2;
        text-align: center;
        position: relative;
        right: 640px;
        bottom: 220px;
        width: 300px;
    }
    
    .imagen3 img {
        width: 300px;
        height: 180px;
        /*  border: solid 1px red; */
        grid-area: azafatas;
        border-radius: 10px;
        position: relative;
        right: 330px;
        top: 1200px;
    }
    
    /* .imagen3:hover{
        padding: 20px;
        transform: scale(2,);
    
    } */
    .p3 {
        font-size: 2rem;
        text-align: center;
        grid-area: p3;
        position: relative;
        top: 60px;
        right: 320px;
        width: 300px;
    
    }
    
    /*DESCUENTOSSS*/
    .descuentos {
        background: rgb(44, 8, 61);
        background: radial-gradient(circle, rgba(44, 8, 61, 1) 0%, rgba(36, 11, 110, 1) 49%, rgba(44, 8, 61, 1) 100%);
        padding: 3.5rem;
    }
    
    .misDescuentos {
        color: white;
        font-size: 1.4rem;
        text-align: center;
    }
    
    /*VENDER VIAJES*/
    
    .contenidoPromociones {
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        padding: 5rem;
        height: 700px;
        width: 303px;
    
    }
    .titlePromocion {
        /* grid-column: 1/6; */
        color: rgb(255, 255, 255);
        margin: 2rem;
    }
    
    .titlePromocion h3 {
        font-size: 2.3rem;
        padding: 0 2rem;
        padding-top: 2rem;
        width: 270px;
        position: relative;
        right: 3.4rem;
        bottom: 4.4rem;
    
    }
    
    .promocion {
        color: rgb(253, 253, 253);
        padding: 0 4rem;
        font-size: 2rem;
        line-height: 1.5;
        display: inline-block;
        width: 349px;
        position: relative;
        right: 5rem;
        bottom: 3.9rem;

    
    
    }
    
    .imagenPromocion img {
        width: 270px;
        height: 240px;
        opacity: 0.5;
        border-radius: 2%;
        position: relative;
        right: 72.3rem;
    }
    
    /* .botonn{
        position: relative;
        left: 49%;
        bottom: 10px;
    
    }
    .botonn button{
        width: 100;
        height: 200%;
    }  */
    /* FOOTER*/
    
    .footer{
        
        background-color: rgb(0, 0, 0);
        display: grid;
        font-size: 1.4rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "home"
            "travel"
            "about"
            "contact"
            "helpp  parrafo"
        ;
        
    }
    .ache6{
        position: relative;
        right: -25px;
        bottom: 30px;
        width: 256px;
    }
    .pf{
        grid-area: parrafo;
    }
    .pf p{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1rem;
        position: relative;
        width: 270px;
        bottom: 4.5rem;
        left: 15px;
    }
    .pHome{
        grid-area: home;
        font-size: 12px;
        color: rgb(255, 255, 255);
    }
    .pTravel{
        grid-area: travel;
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    .pAbout{
        grid-area: about;
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    .pContact{
        grid-area: contact;
        color: rgb(255, 255, 255);
        font-size: 12px;
        position: relative;
        bottom: 2.3rem;
    }
    .pHelp{
        grid-area: helpp;
        color: rgb(255, 255, 255);
        font-size: 12px;
        position: relative;
        bottom: 3rem;
    }
    /*ABOUT US */
    .aboutUsT{
        background: #070809;
        background: rgb(25, 27, 28);
        background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
        height: 1320px;
    }
    .aboutUsTravel{
        margin: 2rem;
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4fr);
        grid-template-areas: 
            "h2"
            "p"
            "image"
            "p2"
        ;
    
    }
    .aboutUsTravel h2{
        font-size: 2.1rem;
        color: white;
        grid-area: h2;
        width: 340px;
        position: relative;
        right: 50px;
    }
    .aboutUsTravel p{
        font-size: 20px;
        grid-area: p;
        color: white;
        line-height: 1.7;
        width: 300px;
        position: relative;
        right: 35px;
    }
    .aboutUsTravel img{
        grid-area: image;
        position: relative;
        right: 1020px;
        top: 2rem;
    }
    .aboutUsTravel img{
        width: 300px;
        height: 300px;
        position: relative;
        left: -4rem;
        top: 2.5rem;
    }
    
    .p2{
        grid-area: p2;
        position: relative;
        right: 50px;
        top: -60px;
    }
}
@media (max-width: 868px){
    body {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        background: #070809;
        background: rgb(25, 27, 28);
        background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
    }
    
    /* Menu INDEX*/
    .gridContainer {
        padding: 4px;
        width: 304px;
        height: 140px;
        display: inline-block;
        background-color: #183247;
    }
    
    .menu ul {
        list-style: none;
    }
    
    .menu li {
        display: inline-block;
        font-size: 2rem;
        position: relative;
        width: 80px;
        height: 1px;
        top: -10px;
        left: 20px;

        
    }
    
    .menu a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.857);
        font-size:10px;
        font-weight: 600;
    }
    
    .logo img {
        width: 150px;
        height: 70px;
        position: relative;
        left: 55px;
        top: -8px;
    }
    
    /*SECTION 1 inicio*/
    
    .carousel-item {
        position: relative;
        width: 304px;
        height: 300px;
    }
    
    .carousel-item p {
        font-style: italic;
        font-size: 1.3rem;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.919);
        background-color: rgba(26, 26, 26, 0.583);
        position: absolute;
        text-align: center;
        left: 28%;
        bottom: 110px;
        border-radius: 5%;
    }
    
    
    
    .cartas {
        background: #070809;
        background: rgb(25, 27, 28);
        background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
        height: 1700px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5fr);
        grid-template-areas:
            "slider"
            "contenedor1" 
            "contenedor2"
            "contenedor3" 
            "contenedor4"
    
    }
    
    .slider {
        grid-area: slider;
        width: 500px;
        height: 140px;
        position: relative;

        top: 60px;
    }
    
    .slider img {
        width: 150px;
        height: 600px;
        border-radius: 4px;
    }
    .sobreTexto1{
        color: rgba(255, 255, 255, 0.912);
        position: relative;
        left: 77px;
        bottom: 800px;
        font-size: 2rem;
        width: 160px;
        
    }
    .sobreTexto1 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    .sobreTexto2{
        color: white;
        position: relative;
        left: 77px;
        bottom: 250px;
        font-size: 2rem;
        width: 160px;
    }
    .sobreTexto2 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    .sobreTexto3{
        color: white;
        position: relative;
        left: 100px;
        bottom: 30px;
        font-size: 2rem;
        width: 110px;
    }
    .sobreTexto3 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    
    .sobreTexto4{
        color:white;
        position: relative;
        left: 50px;
        bottom: 710px;
        font-size: 2rem;
        width: 210px;
    }
    .sobreTexto4 p{
        background-color: rgba(26, 26, 26, 0.583);
        border-radius: 6px;
    }
    
    
    
    .imagenn1 img {
        width: 280px;
        height: 220px;
        position: relative;
        left:  13px;
        top: 296px;
        border-radius: 7px;
    }  
    
    .imagenn2 img{
        width: 280px;
        height: 220px;
        position: relative;
        left:  13px;
        top: 250px;
        border-radius: 7px;
    }
    
    .imagenn3 img {
        width: 280px;
        height: 220px;
        position: relative;
        left:  13px;
        top: 280px;
        border-radius: 7px;
    }
    
    .imagenn4 img {
        width: 280px;
        height: 220px;
        position: relative;
        left:  13px;
        top: 230px;
        border-radius: 7px;
    
    }
    
    
    
    /* VIAJE SEGURO */
    
    .viajeSeguro {
        width: 305px;
        height: 1740px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8fr);
        grid-template-areas:
            "travel travel"
            "p p"
            "personabarbijo"  
            "p1"
            "limpiandoavion" 
            "pe2"
            "azafatas"
            "p3"
        ;
        padding: 1rem 2rem;
        justify-items: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.892);
    }
    
    .viajeSeguro p {
        color: white;
    }
    
    .safe {
        /* border: solid 1px red; */
        grid-area: travel;
        color: white;
        position: relative;
        right: 10px;
        top: -20px;
    
    }
    .safe h2{
        font-size: 2rem;
    }
    
    .p{
        /* border: solid 1px red; */
        width: 1px;
        font-size: 2px;
        position: relative;
        right: 15px;
        width: 250px;
        top: 50px;
        grid-area: p;
    }
    
    .imagen1 img {
        width: 270px;
        height: 180px;
        /* border: solid 1px red; */
        grid-area: personabarbijo;
        border-radius: 10px;
        position: relative;
        left: -335px;
        top: 410px;
    }
    .p1 {
        font-size: 2rem;
        grid-area: p1;
        text-align: center;
        position: relative;
        right: 15px;
        width: 250px;
        top: 265px;
    }
    
    .p {
        font-size: 2rem;
        grid-area: p;
        text-align: center;
    }
    
    .imagen2 img {
        width: 280px;
        height: 180px;
        /* border: solid 1px red; */
        grid-area: limpiandoavion;
        border-radius: 10px;
        position: relative;
        left: -649px;
        top: 850px;
    }
    
    /* .imagen2:hover{
        padding: 20px;
        transform: scale(2,);
    } */
    
    .pe2 {
        font-size: 2rem;
        grid-area: pe2;
        text-align: center;
        position: relative;
        right: 640px;
        bottom: 400px;
        width: 300px;
    }
    
    .imagen3 img {
        width: 300px;
        height: 180px;
        /*  border: solid 1px red; */
        grid-area: azafatas;
        border-radius: 10px;
        position: relative;
        right: 330px;
        top: 1200px;
    }
    
    /* .imagen3:hover{
        padding: 20px;
        transform: scale(2,);
    
    } */
    .p3 {
        font-size: 2rem;
        text-align: center;
        grid-area: p3;
        position: relative;
        top: 630px;
        right: 28px;
        width: 300px;
    
    }
    
    /*DESCUENTOSSS*/
    .descuentos {
        background: rgb(44, 8, 61);
        background: radial-gradient(circle, rgba(44, 8, 61, 1) 0%, rgba(36, 11, 110, 1) 49%, rgba(44, 8, 61, 1) 100%);
        padding: 3.5rem;
        width: 305px;
    }
    
    .misDescuentos {
        color: white;
        font-size: 10px;
        text-align: center;
        position: relative;
    }
    
    /*VENDER VIAJES*/
    
    .contenidoPromociones {
        background-image: url("../imagenes/inviernoashe.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        padding: 5rem;
        height: 350px;
    
    }
    
    .titlePromocion {
        /* grid-column: 1/6; */
        color: rgb(255, 255, 255);
        margin: 2rem;
    }
    
    .titlePromocion h3 {
        font-size: 1.7rem;
        padding: 0 2rem;
        padding-top: 2rem;
        width: 270px;
        position: relative;
        right: 5rem;
        bottom: 4.4rem;
    
    }
    
    .promocion {
        color: rgb(253, 253, 253);
        padding: 0 4rem;
        font-size: 1.2rem;
        line-height: 1.5;
        display: inline-block;
        width: 349px;
        position: relative;
        right: 6.4rem;
        bottom: 3.9rem;

    
    
    }
    
    .imagenPromocion img {
        width: 270px;
        height: 240px;
        opacity: 0.5;
        border-radius: 2%;
        position: relative;
        right: 72.3rem;
    }
    
    /* .botonn{
        position: relative;
        left: 49%;
        bottom: 10px;
    
    }
    .botonn button{
        width: 100;
        height: 200%;
    }  */
    /* FOOTER*/
    
    .footer{
        width: 305px;
        background-color: rgb(0, 0, 0);
        display: grid;
        font-size: 1.4rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        grid-template-areas: 
            "home"
            "travel"
            "about"
            "contact"
            "helpp  parrafo"
        ;
        
    }
    .ache6{
        position: relative;
        right: -10px;
        bottom: -50px;
        width: 236px;
        font-size: 10px;
    }
    .ache6 h6{
        font-size: 5px;
    }
    .pf{
        grid-area: parrafo;
    }
    .pf p{
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 1rem;
        position: relative;
        width: 230px;
        bottom: 100px;
        left: 15px;
    }
    .pHome{
        grid-area: home;
        font-size: 12px;
        color: rgb(255, 255, 255);
    }
    .pTravel{
        grid-area: travel;
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    .pAbout{
        grid-area: about;
        color: rgb(255, 255, 255);
        font-size: 12px;
    }
    .pContact{
        grid-area: contact;
        color: rgb(255, 255, 255);
        font-size: 12px;
        position: relative;
        bottom: 1rem;
    }
    .pHelp{
        grid-area: helpp;
        color: rgb(255, 255, 255);
        font-size: 12px;
        position: relative;
        bottom: 2rem;
    }
    /*ABOUT US */
    .aboutUsT{
        background: #070809;
        background: rgb(25, 27, 28);
        background: radial-gradient(circle, rgba(27, 82, 91, 1) 0%, rgb(19, 41, 55) 50%, rgb(12, 26, 24) 100%);
        height: 630px;
        width: 305px;
    }
    .aboutUsTravel{
        margin: 2rem;
        padding: 3rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4fr);
        grid-template-areas: 
            "h2"
            "p"
            "image"
            "p2"
        ;
    
    }
    .aboutUsTravel h2{
        font-size: 1.6rem;
        color: white;
        grid-area: h2;
        width: 340px;
        position: relative;
        right: 30px;
    }
    .aboutUsTravel p{
        font-size: 9px;
        grid-area: p;
        color: white;
        line-height: 1.7;
        width: 260px;
        position: relative;
        right: 20px;
    }
    .aboutUsTravel img{
        grid-area: image;
        position: relative;
        right: 1020px;
        top: 2rem;
    }
    .aboutUsTravel img{
        width: 250px;
        height: 250px;
        position: relative;
        left: -20px;
        top: 2.5rem;
    }
    
    .p2{
        grid-area: p2;
        position: relative;
        right: 40px;
        top: -80px;
    }
}
